body {
    font-family: Arial;
}

table, tr, td, th {
    border-collapse: collapse;
    border: solid 2px #ccc;
    margin:auto;
    text-align: center;
}

tr, td {
    padding: 6px;
}

th {
    background-color: #dfdfdf;
    padding: 15px;
}

.paciente-invalido {
  color: red;
}

.mensagens-erro{
  color: red;
  font-size: 30px;
}

.fadeOut {
  opacity: 0;
  transition: 0.5s;
}

.invisivel {
  display: none;
}
